
.MainPage {
    margin-bottom: 20px;
}

form{
    border: 2px solid rgb(244, 242, 242);
    max-width: 400px;
    padding: 20px 0;
    background: rgb(255, 255, 255);
    margin-top: 5%;
    margin-left: 37%;
    -webkit-box-shadow: 10px 10px 39px -21px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 39px -21px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 39px -21px rgba(0,0,0,0.3);
    
    
   
}
h1{
    font-size: 1.4rem;
    padding: 20px 0;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    text-align: center;
    
    
}
.header{
    background: rgb(206, 133, 7);
    width: 100%;
    margin-bottom: 20px;
    margin-top: -20px;
}



.form-group{
    width: 400px;
    
    
    

}


.input{
    padding: 5px 20px;
    

}
input{
    width:200px;
    height: 50px;
    margin: 20px 0;
}
label{
    
    padding: 0 50px;
    font-size: 1.5rem;
    
    


}

.reg-btn{
    padding: 20px 40px;
    background: rgb(206, 133, 7);
    border: none;
    border-radius: 50px;
    color:#fff;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
}

.reg-btn:hover {
    background: #000;
    color: rgb(206, 133, 7);
}

.link{
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(206, 133, 7);
    cursor: pointer;

}
.link:hover {
    
    color: #000;
}